<div class="container form-container">
    <h2 class="title">{{ isEditMode ? 'Edit' : 'Add' }} Supplier</h2>
  
    <form (ngSubmit)="submitForm()">
      <label>
        Name:
        <input type="text" [(ngModel)]="supplier.name" name="name" required />
      </label>
  
      <label>
        Email:
        <input type="email" [(ngModel)]="supplier.email" name="email" required />
      </label>
  
      <label>
        Phone:
        <input type="text" [(ngModel)]="supplier.phone" name="phone" required />
      </label>
  
      <button type="submit" class="btn">Save</button>
      <a routerLink="/suppliers" class="btn secondary">Cancel</a>
    </form>
  </div>
  
